.footer{
    display: flex;
    justify-content: space-around;
    height: 296px;
    width: 100%;
    background-color: #052431;
    color: #d2d3d7;
    font-family: "Myriad Pro";
    font-size: 23px;
    letter-spacing: 0.6px;
}

.footer__content{
    width: 101px;
    height: 17px;
    text-transform: uppercase;
    margin: 67px 275px 51px 116px;
}

.footer__first_box__lorem_ipsum{
    width: 135px;
    height: 22px;
    margin: 0 242px 18px 114px;
}

.footer__dolor_sit{
    width: 87px;
    height: 17px;
    margin: 0 285px 104px 117px;
}

.footer__information{
    width: 147px;
    height: 17px;
    text-transform: uppercase;
    margin: 74px 259px 44px 0;
}

.footer__second_boxlorem_ipsum{
    width: 135px;
    height: 22px;
    margin: 0 271px 0 0;
}

.footer__second_box__onsectetur_adipisicing{
    width: 235px;
    height: 22px;
    margin: 24px 175px 93px 0;
}

.footer__legal{
    width: 66px;
    height: 17px;
    margin: 69px 293px 35px 0;
}

.footer__adipisicing_elit{
    width: 156px;
    height: 22px;
    margin: 0 201px 25px 0;
}

.footer__sed_do_eiusmod{
    width: 167px;
    height: 17px;
    margin: 0 186px 25px 0;
}

.footer__tempor_incidi{
    width: 143px;
    height: 22px;
    margin: 0 64px 0 0 ;
}

.footer__help{
    width: 52px;
    height: 17px;
    margin: 69px 277px 34px 0;
}

.footer__fourth_box__lorem_ipsum{
    width: 134px;
    height: 22px;
    margin: 0 198px 25px 0;
}

.footer__fourth_box__onsectetur_adipisicing{
    width: 235px;
    height: 22px;
    margin: 0 99px 107px 0;
}

.footer__contacts{
    width: 175px;
    height: 99px;
    margin: 82px 159px 115px 0;
}
